node_modules/
.env
.DS_Store
.firebase/
firebase-debug.log*
ui-debug.log*
npm-debug.log*
*.zip
temp_backup/

# Next.js
.next/
out/
build/
dist/
.env.*
!.env.example
.env.development.local
.env.test.local
.env.production.local
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
backend/env.yaml

google-services-account.json
dosespot-docs
.agents